@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-1 bold py-3">Katsaka 🌽 </h1>
    <p class="display-6 lead">'Ndao hamboly !</p>
</div>

