@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-1 bold py-3">Katsaka <span class="px-3">🌽</span> </h1>
    <p class="display-6 lead">'Ndao hamboly !</p>
</div>

